In [ ]:
#tuple 使用符號建立
(1, 3, 5)

In [ ]:
#簡寫的 tuple
1, 3, 5

In [1]:
#tuple 拆解法
n1, n2, n3 = (1, 3, 5)
display(n1)
display(n2)
display(n3)

1

3

5

In [2]:
#建立 list
list1 = [1, 'a', 0.25]
#list subscript
display(list1[0])
display(list1[1])
display(list1[2])

1

'a'

0.25

In [4]:
#建立 dictionary
codes = {
    'tw':'Taiwan',
    'jp':'Japan'}

display(codes['tw'])
display(codes['jp'])

'Taiwan'

'Japan'

In [5]:
#set 沒有 key 也沒有 index
#set 會把重複的值拿掉，可以拿來做交集，聯集，差集
set1 = {1,2,3,4,5,6,1,2,3}
set1

{1, 2, 3, 4, 5, 6}